<ion-view view-title="{{vm.title}}">
    <ion-content class="has-header qrsignature" padding="true">
        <div class="card">
            <div class="item item-text-wrap">
                Escáner válido solo para la web Grupo Fanjul.
            </div>
            <div class="item item-divider" ng-click="vm.accessCamera()">
                <p><i class="icon ion-camera"></i></p>
            </div>
        </div>
        
        <iframe ng-src="{{vm.urlContract}}" class="completeDisplay" ng-if="vm.urlContract" iframe-onload="vm.iframeLoadedCallBack()" ></iframe>
    </ion-content>
</ion-view>
